{% extends "base.html" %}
{% load static %}

{% block custumcss %}
<link rel= "stylesheet" type="text/css" href = "{% static 'signup.css' %}">

{% endblock custumcss %}

{% block content %}
  <form class="form-signin" method="POST">{% csrf_token %}
  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">新規登録</h1>



  {{ profileform.as_p }}

  <p>{{ signupform }}</p>
  <label for="inputPassword" class="sr-only">パスワード</label>
  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
  <label for="inputPassword" class="sr-only">パスワード確認</label>
  <input type="password" id="inputPassword" class="form-control" name="password1_2" placeholder="Password確認用" required>
  <p>{{ message }}</p>


  <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
  <a href = "{% url 'login' %}">ログイン画面へ</a>

</form>

{% endblock content %}
